*{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 40px;
    background-color: black;
    font-size: 20px;
}
#logo{
    color: #f08804;
    font-size: 35px;
}
a{
    margin-right: 110px;
    text-decoration: none;
}
#navbar1{
    background-color: wheat;
    display: flex;
    height: 40px;
    width: 1365px;
}
#a1{
    margin-right: 0px;
}
#a2{
    margin-right: 0px;
}
#a3{
    margin-right: 0px;
}
img{
    height: 35px;
}
button{
    color: #f08804;
}
#a4{
    display: inline-block;
    justify-content: space-between;
}
#livescr{
    height: 300px;
    width: 300px;
    background-color: purple;
    padding-top: 20px;
    display: inline-block;
}
#updatescr{
    height: 300px;
    width: 300px;
    background-color: palegreen;
    display: inline-block;
    flex-direction: row;
    margin-left: 200px;
    margin-top: 50px;
}
#logo1{
    display: flex;
    margin-top: 20px;
    width: 20px;
    height: 20px;
}
#logo2{
    margin-left: 220px;
    margin-top: -20px;
    display: inline-block;
    flex-direction: row;
    width: 20px;
    height: 20px;
}
#logo3{
    display: flex;
    margin-top: 50px;
    width: 20px;
    height: 20px;
}
#logo4{
    margin-left: 250px;
    margin-top: -100px;
    display: inline-block;
    flex-direction: row;
    width: 20px;
    height: 20px;
}
#footer{
    background-color: blue;
    margin-top: 160px;
}
p{
    color: black;
    font-size: 20px;
}